/* styles.css */
:root {
  --color-text: #02090D;
  --color-text-alt: #000708;
  --color-bg: #EFF8FD;
  --color-bg-alt: #EBF4F5;
  --color-primary: #34ABE4;
  --color-primary-overlay: #1A89DA;
  --color-primary-shaded: #91D1F0;
  --color-secondary: #A787EF;
  --color-secondary-overlay: #7C57E9;
  --color-secondary-shaded: #D3CDF7;
  --color-accent: #C060EA;
  --color-accent-overlay: #A139E2;
  --color-accent-shaded: #DDBEF5;
  --opp-color-text: #F2F9FD;
  --opp-color-text-alt: #F4FBFF;
  --opp-color-bg: #041B26;
  --opp-color-bg-alt: #081F2E;
  --opp-color-primary: #1A93CB;
  --opp-color-primary-overlay: #25C6E4;
  --opp-color-primary-shaded: #0C4864;
  --opp-color-secondary: #301179;
  --opp-color-secondary-overlay: #4519B4;
  --opp-color-secondary-shaded: #141745;
  --opp-color-accent: #75159E;
  --opp-color-accent-overlay: #A81FCD;
  --opp-color-accent-shaded: #2E1853;
}
@media (prefers-color-scheme: dark) {
    :root {
      --color-text: #F2F9FD;
      --color-text-alt: #F4FBFF;
      --color-bg: #041B26;
      --color-bg-alt: #081F2E;
      --color-primary: #1A93CB;
      --color-primary-overlay: #25C6E4;
      --color-primary-shaded: #0C4864;
      --color-secondary: #301179;
      --color-secondary-overlay: #4519B4;
      --color-secondary-shaded: #141745;
      --color-accent: #75159E;
      --color-accent-overlay: #A81FCD;
      --color-accent-shaded: #2E1853;
      --opp-color-text: #02090D;
      --opp-color-text-alt: #000708;
      --opp-color-bg: #EFF8FD;
      --opp-color-bg-alt: #EBF4F5;
      --opp-color-primary: #34ABE4;
      --opp-color-primary-overlay: #1A89DA;
      --opp-color-primary-shaded: #91D1F0;
      --opp-color-secondary: #A787EF;
      --opp-color-secondary-overlay: #7C57E9;
      --opp-color-secondary-shaded: #D3CDF7;
      --opp-color-accent: #C060EA;
      --opp-color-accent-overlay: #A139E2;
      --opp-color-accent-shaded: #DDBEF5;
    }
}

/* General Styles */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
a:link {
  color: var(--color-primary-overlay);
}
a:visited {
  color: var(--color-accent-overlay);
}
a:hover, a:active {
  color: var(--color-secondary-overlay);
}

/* Container */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--color-bg-alt);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Heading */
h1 {
    text-align: center;
    color: var(--color-text-alt);
    margin-bottom: 20px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: var(--color-text-alt);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"],
button {
    padding: 10px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    color: var(--color-text);
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--color-accent);
}

/* Flash Messages */
.flash-message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
}

.flash-message.danger {
    background-color: #f8d7da;
    color: #721c24;
}

.float-container {
    border: 0;
    padding: 20px;
}

.float-child {
    width: 45%;
    float: left;
    padding: 10px;
    border: 0;
}

/** Password Verif **/
#passwordRequirements {
    margin-top: 10px;
    font-size: 0.9em;
}

#passwordRequirements ul {
    list-style-type: none;
    padding-left: 0;
}

#passwordRequirements li {
    margin-bottom: 5px;
}

#passwordRequirements li.invalid {
    color: red;
}

#passwordRequirements li.valid {
    color: green;
}

/** Navbar **/

nav ul {
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-bg-alt);
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px !important;
}

nav li {
  float: left;
  border-right:1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: var(--opp-color-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: var(--opp-color-primary-shaded);
}

nav .active {
  background-color: var(--opp-color-primary);
}

nav a:link {
  color: var(--color-primary);
}
nav a:visited {
  color: var(--color-accent);
}
nav a:hover, a:active {
  color: var(--color-secondary);
}

.content {
    padding-top: 40px;
}

span.clear { clear: left; display: block; }

/** **/
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid var(--opp-color-bg);
    padding: 8px;
    text-align: left;
}
th {
    background-color: var(--color-bg-alt);
}

/** Google Sign In Button **/
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}