<!doctype html>
<html>
  <head>
    {% block head %}
    <title>
        {% block title %}{% endblock %}
        {% if self.title() is defined %} -
        {% endif %}EchoEden
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
  </head>
  <body>
    <div id="notifications">
        {% block notif_notify %}
            {% set notif_notify_defined = true %}
        {% endblock %}
        {% if notif_notify_defined %}<br>{% endif %}

        {% block notif_warning %}
            {% set notif_warning_defined = true %}
        {% endblock %}
        {% if notif_warning_defined %}<br>{% endif %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2024 - {{now.year}} by <a href="http://echoeden.draek.dev/">EchoEden</a>.
      {% endblock %}
    </div>
  </body>
</html>