{% extends "base.html" %}

{% block notif_notify %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p></br>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock %}

{% block notif_warning %}
    {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
            {% if warnings %}
                {% for message in warnings %}
                    <p>{{ message }}</p></br>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}
    <form action="/oauth-username" method="POST">
        <label for="username">Choose a username:</label>
        {{ form.username.label }} {{ form.username(size=24) }}
        <input type="submit" value="Choose this Username">
    </form>
{% endblock %}