{% extends "base.html" %}
{% block title %}Session History{% endblock %}
{% block notif_notify %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p></br>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock %}

{% block notif_warning %}
    {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
            {% if warnings %}
                {% for message in warnings %}
                    <p>{{ message }}</p></br>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}
    <h1>Session History</h1>
    <table>
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Browser</th>
                <th>Last Activity</th>
                <th>Status</th>
                <th>Logout Time</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session.ip_address }}</td>
                <td>{{ session.browser }}</td>
                <td>{{ session.last_activity }}</td>
                <td>{{ session.status }}</td>
                <td>{{ session.logout_time if session.logout_time else 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}